/*  Actions  */
div.actions {
  float:left;
  border:1px solid #EEE;
  width:99.8%;
  clear:both;
  margin:8px 0;
  font-size:1.1em;
}
div.actions ul {
  float:left;
}
div.actions h3 {
  float:left;
  font-size:1.2em;
  padding:6px 20px 6px 6px;
  font-weight:bold;
  background:#EEE url(../img/layout/bg_arrow.png) right center no-repeat;
  margin:2px 10px 2px 2px;
}
div.actions li {
  float:left;
  list-style-type:none;
  margin:7px 10px 5px 0px;
  white-space:nowrap;
  border-right:1px dotted #CCC;
}
div.actions ul li span.disabled,
div.actions li a{
  float:left;
  list-style-type:none;
  margin:3px 10px 3px 0;
}
div.actions li.empty {
  border:0;
  margin-top:10px;
  font-size:1.1em;
  color:#333;
}
div.actions ul li .submit {
  float:left;
  width:auto;
  min-width:0;
}
div.actions ul li .submit input[type=submit] {
  background:transparent;
  font-size:0.8em;
  padding: 4px 10px 4px 20px;
  width:auto;
  font-size:1em;
  color:#003300;
  font-weight:bold;
}
div.actions ul li .submit input[type=submit]:hover {
  color:#ee6600;
}
