/* breadcrumb */
ul.breadcrumb {
  padding-left:5px;
  font-size:1.1em;
}
ul.breadcrumb li {
  display:inline;
}
ul.breadcrumb li.here {
  background:transparent url(../img/icons/S/home.jpg) 0 1px no-repeat;
  padding-left:20px;
}
