/***********************************************************************************
 * Content
 ***********************************************************************************/
.content{
  padding-top:10px;
}
.content .view, .content .edit {
}
.content .actions li.nothing {
  border:0;
  padding-top:5px;
  font-size:1.1em;
}
.content p.empty,
.content p.nothing {
  clear:both;
  margin:5px 2px 5px 0px;
  padding:10px;
  background:#FAFAFA;
  border:1px solid #EEE;
  font-size: 1.4em;
  text-align:center;
  color:#333;
}
.content p.help {
  font-size:1.1em;
  padding-left:5px;
}

/* Quicklinks */
.view.icon .paginator{
  padding:5px;
}
.view.icon ul {
  float:left;
  width:100%;
  padding:10px 0;
}
.view.icon ul li {
  float:left;
  width:95px;
  text-align:center;
  margin-bottom:10px;
  margin-right:10px; 
}
.view.icon ul li a.read span{
  overflow:hidden;
  white-space:nowrap;
  width:80px;
  padding:2px 5px;
  float:left;
}
.view.icon ul li a.read {
  text-align:center;
  float:left;
  z-index:1;
}
.view.icon ul li a.read img {
  display:inline-block;
  border:1px solid #CCC;
  /*clear:both;*/
  padding:8px;
}
.view.icon ul li a.read:hover img {
  border:1px solid #66CC00;
}
.view.icon ul li a.star{
  position:absolute;
  width:12px;
  margin-left:-95px;
}
.view.icon ul li a.star img {
  width:12px;
  position:absolute;
  border:0; 
  padding: 5px;
  z-index:2;
}
