/***********************************************************************************
 * Display types: list, tables, icons...
 ***********************************************************************************/
.display.selector {
  float:right;
  margin-top:-2em;
}
.display.selector h4 {
  float:left;
  color:#777;
  padding:3px 10px 0 0;
  font-size:1em;
}
.display.selector ul {
  float:left;
}
.display.selector li {
  font-size:1em;
  list-style-type:none;
  display:inline;
  float:left;
  margin:2px 5px 5px 0px;
  padding:0px 5px 2px 0px;
  border-right:1px dotted #CCC;
}
.display.selector li.last {
  border:0;
}
.display.selector li.selected a {
  font-weight:normal;
  color:#777;
  cursor:default;
}
/* with_icons */
.display.selector .with_icon li {
  background: #ccc url(../img/layout/bg_table_header.png) right -20px repeat-x;
  border:1px solid #aaa;
  border-left:0;
  margin:0;
  padding:0;
}
.display.selector .with_icon li.first {
  border:1px solid #aaa;
}
.display.selector .with_icon li.last {
}
.display.selector .with_icon li.selected {
  background: #eee;
}
.display.selector .with_icon li a {
  float:left;
  width:28px;
  height:20px;
}
.display.selector .with_icon a.compact {
  background:url(../img/icons/S/view_list.png) center center no-repeat;
}
.display.selector .with_icon a.list {
  background:url(../img/icons/S/view_table.png) center center no-repeat;
}
.display.selector .with_icon a.icon {
  background:url(../img/icons/S/view_icon.png) center center no-repeat;
}
.display.selector .with_icon a span {
  display:none;
}
