/***********************************************************************************
 * Generic CSS
 * @copyright   Greenpeace International
 * @author      rbertot@greenpeace.org
 ***********************************************************************************/
/* Reset */
body,div,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
form,fieldset,input,textarea,
p,blockquote,pre,
th,td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym {
  border:0;
}

/* Generics */
body {
  background:#66CC00;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size:80%;
}
/* links */
a {
  color:#003300;
  text-decoration:none;
  font-weight:bold;
}
a:hover {
  color:#ee6600;
}
a img {
  border:none;
}
.disabled{
  color:#777;
}
/* titles */
h1, h2, h3, h4 {
  font-weight:normal;
}
h2 {
  font-size:2em;
}
h3 {
  font-weight:normal;
  font-size:1em;
}
/* high level shortcut*/
.clear {
  clear:both; 
  font-size:0; 
  line-height:0; 
  width:0; 
  height:0;
}
.clear_left {
  clear:left;
}
.left {
  float:left;
}
.right {
  float:right;
}
.hidden {
  display:none;
}
/* lists */
ul, li {
}

