/***********************************************************************************
 * Header
 ***********************************************************************************/
.header {
  float:left;
  background: transparent url(../img/layout/shadow_x.png) center 78px repeat-x;
  width:100%;
}
.header h1 {
  float:left;
  margin:5px 15px 5px 1%;
  color:#FFF;
}
.header h1 a{
  display:block;
  width:170px;
  height:40px;
  background: url(../img/layout/logo.jpg) center center no-repeat;
}
.header a.logo span{
  display:none;
}
.header a {
  color:#FFF;
  text-decoration:none;
}
.header a:hover {
  color:#ee6600;
}
.header a.selected {
  color:#006600;
}
/* User badge */
.header .userbadge {
  float:right;
  margin-right:1%;
  background:#1d791d;
  color:white;
  font-size:1.1em;
  padding:10px 20px 8px 20px;
}
.header .userbadge p{
  float:left;
  margin-right:3px;
}
.header .userbadge span {
  float:left;
}
.header .userbadge span a.preferences {
  padding-right:8px;
}
.header .userbadge span a.with_icon.preferences {
  padding-left:28px;
  background-position: 5px center;
}
.header .userbadge a.logout {	
  padding-left:5px;
}
.header .userbadge a.with_icon.logout {
  padding-right:25px;
  background-position: right center;
}
.header .userbadge a.with_icon.logout:hover {
  color:#CC6600;
  background-position: right center;
}
