/* Notices and Errors */
.error{
  background-color:#ffebe8;
  border:1px solid #cc0000;
}
p.error {
  font-size:120%;
  line-height:140%;
  padding:0.8em;
  margin:10px 0;
  clear:both;
  width:auto;
}
.notice{
  background:#FFF8DB;
  border:1px solid #FFCC00;
}
p.notice {
  color:#000;
  display:block;
  font-size:120%;
  line-height:140%;
  padding:0.8em;
  margin:1em 0;
}
p.success {
  background:green;
  color:#fff;
}
/* Message */
.message{
  font-size:1.1em;
  padding:0;
  margin:0;
}
/* close button */
.message a.close{
  float:right;
  color:#cc0000;
}
.message a.close.with_icon{
  background-position: right 13px ;
  margin-right:15px;
}
/* dialog box style */
.message.dialog {
  position: absolute;
  margin-top:12.5%;
  margin-left:37.5%;
  width:25%;
  z-index: 9999;
}
.message.dialog h3{
  padding:15px 15px 0px 12px;
  font-weight:bold;
}
.message.dialog p{
  padding:0px 15px 20px 15px;
}
.message.dialog a.close.with_icon{
  padding:12px 22px 0 0;
}
/* Inline style */
.message.inline{
  with:auto;
  border-top:0;
  padding:5px 0;
  margin:0;
}
.message.inline p{
  display:inline;
}
.message.inline h3{
  display:inline;
  font-weight:bold;
}
.message.inline a.close.with_icon{
  padding:0px 22px 0 0;
  background-position: right 1px;
}
/* Message in lists */
ul.messages{
  list-style-type: none;
  padding:0;
  margin:0;
}
/* hubble bubble */
.bubble {
  border:1px solid #CCC;
  -moz-border-radius:5px;
  padding-bottom:10px;
}
.buble + .bubble_spacer {
  right:20px;
  position:absolute;
  width:40px;
  height:30px;
  background:transparent url(../img/layout/bg_tooltip_bottom_grey.png) left bottom no-repeat;
}
