/* Notices and Errors */
.error{
  background-color:#ffebe8;
  border:1px solid #cc0000;
}
p.error {
  font-size:120%;
  line-height:140%;
  padding:0.8em;
  margin:10px 0;
  clear:both;
  width:auto;
}
.notice{
  background:#FFF8DB;
  border:1px solid #FFCC00;
}
p.notice {
  color:#000;
  display:block;
  font-size:120%;
  line-height:140%;
  padding:0.8em;
  margin:1em 0;
}
p.success {
  background:green;
  color:#fff;
}
/* Message in lists */
ul.messages{
  list-style-type: none;
  padding:0;
  margin:0;
}
ul.messages.dialog_box {
  position: absolute;
  margin-top:12.5%;
  margin-left:37.5%;
  width:25%;
}
ul.messages.dialog_box h3{
  padding:15px 15px 0px 12px;
}
ul.messages.dialog_box p{
  padding:0px 15px 20px 15px;
}
ul.messages.dialog_box a.close{
  float:right;
  color:#cc0000;
}
ul.messages.dialog_box a.with_icon.close{
  float:right;
  padding:12px 22px 0 0;
  background-position: right 13px ;
  margin-right:15px;
}
ul.messages.dialog_box .message{
  border-top:1px solid #cc0000 /*#FFCC00*/;
}
ul.messages .message{
  font-size:1.1em;
  padding:0;
  margin:0;
  border-top:0;
}
ul.messages .message.notice{
}
ul.messages .message.error{
}
ul.messages .message.warning{
}
/* hubble bubble */
.bubble {
  border:1px solid #CCC;
  -moz-border-radius:5px;
  padding-bottom:10px;
}
.buble + .bubble_spacer {
  right:20px;
  position:absolute;
  width:40px;
  height:30px;
  background:transparent url(../img/layout/bg_tooltip_bottom_grey.png) left bottom no-repeat;
}
