/* Scaffold View */
dl {
  clear:both;
  font-size:1.2em;
  width:100%;
  line-height:2.2em;
  margin:0em 0em;
  padding-left:10px;
}
dt {
  font-weight:bold;
  vertical-align:top;
  width:20%;
}
dd {
  margin-left:20%;
  margin-top:-2.2em;
  vertical-align:top;
}
