/***********************************************************************************
 * Sidebar
 ***********************************************************************************/
.sidebar {
  padding-bottom:20px; 
}
.sidebar .widget {
  background:#FFF;
  border:1px solid #ccc;
  margin-bottom:10px;
}
.sidebar p {
  padding:5px;
}
/* side bar header*/
.sidebar h3 {
  font-size:1.1em;
  background: #CCC url(../img/layout/bg_table_header.png) 0 -5px repeat-x;
  border-bottom:1px solid #ccc;
}
.sidebar .widget_header{
}
.sidebar h3 a.js_toggle {
  display:block;
  padding:3px 5px 1px 7px;
}
.sidebar h3 a.js_toggle.with_icon {
  padding-left: 26px;
  background-position: 4px 4px;
}
.sidebar h3 a span {
  width:100%;
  display:block;
}
.sidebar h3 a.js_toggle.open span {
  background:transparent url(../img/layout/arrow_up.png) right center no-repeat;
}
.sidebar h3 a.js_toggle.closed span {
  background:transparent url(../img/layout/arrow_down.png) right center no-repeat;
}
.sidebar h3 a.js_toggle.open:hover span {
  background:transparent url(../img/layout/arrow_up2.png) right center no-repeat;
}
.sidebar h3 a.js_toggle.closed:hover span {
  background:transparent url(../img/layout/arrow_down2.png) right center no-repeat;
}
.sidebar .js_toggle_wrapper {
}
.sidebar ul {
  padding:5px 10px;
}
/* shortcuts */
.sidebar .shortcuts{
  margin-top:12px;
  margin-bottom:10px;
  border:1px solid #CCC;
  background:#FFF;
}
.sidebar .shortcuts.inline h3 {
  float:left;
  font-size:1em;
  color:#777;
  padding:5px 10px;
  margin-right:5px;
  font-weight:bold;
}
.sidebar .shortcuts.inline ul li{
}
.sidebar .shortcuts.inline ul.with_icon li{
  display:inline;
  width:16px;
}
.sidebar .shortcuts.inline ul.with_icon a{
  padding-left:25px;
}
.sidebar .shortcuts.inline ul.with_icon a span{
  display:none;
}
/* helpbox */
.sidebar .help {
}
.sidebar .help h3 {
  padding:2px;
  padding-left:30px;
  background:transparent url(../img/icons/S/help.png) 5px center no-repeat;
  border-bottom:1px dotted #CCC;
  font-weight:bold;
}
.sidebar .help ul {
  font-size:1.1em;
}
