/* Tooltips */
.tooltip{
}
.tooltip.relative{ 
  position:relative;
  float:left;
}
#tooltip.mini {	
  width: 100px;
  position: absolute;
  z-index: 2999;
  background:transparent url(../img/layout/bg_tooltip_black.png) center top no-repeat;
  padding:5px 0 0 0;
  margin:2px 0 0 0;
  
}
#tooltip.mini .tooltip_wrapper{
  text-align:center;
  padding:5px 10px;
  margin:0;
  background:#000 url(../img/layout/bg_tooltip_black2.png) left bottom repeat-x;
  -moz-border-radius:3px;
}
#tooltip.mini p{
  font-size:1em;
  font-weight:bold;
  margin:0;
  color:#EEE;
}
